body{
    height: 100vh;
    background: url(download.jpeg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#add-task-container{
    width: 350px;
    padding: 20px 10px ;
    background-color: azure;
    border-radius: 20px;
    display: flex;
    margin-bottom: 20px;
}
input{
    flex: 5;
    transition: .3s;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;
}
#add-task{
    flex: 1;


    font-size: 1.1rem;
    padding: 5px;
    background-color: azure;
    color: aqua;
    border: aqua solid 2px;
    border-radius: 10px;
}
#add-task:hover{
    background-color: aqua;
    color: azure;
}
.task {
    width: 100%;
    background-color: azure;
    border-radius: 10px;
    box-shadow: 0 0 3px;

    padding: 5px;
    margin-bottom:5px ;

    display: flex;
    justify-content: space-between;
}
.task li {
    list-style: none;
    flex: 4;
    padding: 5px;
    font-size: 1.2rem;
}
.task button{
    flex: 1;
    border-radius: 10px;
    background-color: azure;
}
.task.checkTask{
     color: orange;
     margin-right: 5px;
     border: solid 2px orange;

}
.task.checkTask:hover{
    background-color: orange;
    color: azure;
}
.task.deleteTask{
    color: indigo;
    margin-right: 5px;
    border: solid 2px indigo;
    
}